rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function userDocPath() {
      return /databases/$(database)/documents/users/$(request.auth.uid);
    }

    function isAdmin() {
      return isSignedIn() && (
        (exists(userDocPath()) && get(userDocPath()).data.isAdmin == true) ||
        request.auth.uid == 'mdBW2iIUy2diyIrnK55s'
      );
    }

    function isContentManager() {
      return isSignedIn() && (
        request.auth.uid == 'mdBW2iIUy2diyIrnK55s' ||
        isAdmin()
      );
    }

    match /users/{userId} {
      allow read: if true;
      allow create: if (isSignedIn() && request.auth.uid == userId) || isAdmin();
      allow update, delete: if (isSignedIn() && request.auth.uid == userId) || isAdmin();
    }

    match /socialMeta/{documentId} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /socialProfiles/{profileId} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /socialPosts/{postId} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /socialThreads/{threadId} {
      allow read, write: if isSignedIn();
    }

    match /analytics/{analyticsId} {
      allow read: if isAdmin() || (isSignedIn() && request.auth.uid == resource.data.userId);
      allow create: if isSignedIn() && request.auth.uid == request.resource.data.userId;
      allow update, delete: if isAdmin();
    }

    match /blog_posts/{postId} {
      allow read: if true;
      allow create, update, delete: if isContentManager();
    }

    match /features/{featureId} {
      allow read: if true;
      allow write: if isAdmin();
      allow create: if true;
    }

    match /solutions/{solutionId} {
      allow read: if true;
      allow write: if isAdmin();
      allow create: if true;
    }

    match /products/{productId} {
      allow read: if true;
      allow write: if (isSignedIn() && request.auth.uid == resource.data.userId) || isAdmin();
      allow create: if (isSignedIn() && (request.auth.uid == request.resource.data.userId || request.resource.data.userId == 'mdBW2iIUy2diyIrnK55s')) || isAdmin();
      allow read: if isAdmin();
    }

    match /templates/{templateId} {
      allow read: if true;
      allow read, write: if (isSignedIn() && request.auth.uid == resource.data.userId) || isAdmin();
      allow create: if (isSignedIn() && request.auth.uid == request.resource.data.userId) || isAdmin();
    }

    match /clicks/{clickId} {
        allow read, write: if isSignedIn();
        allow create: if true;
    }

    match /userSettings/{settingsId} {
      allow read, write: if (isSignedIn() && resource.data.userId == request.auth.uid) || isAdmin();
      allow create: if (isSignedIn() && request.resource.data.userId == request.auth.uid) || isAdmin();
    }

    match /{document=**} {
      allow read, write: if isAdmin();
    }
  }
}